.hero {
    max-width: 1440px;
    padding: 280px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/image/heroImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    ;
}

.contentWrapper {
    margin-left: 64px;
}

.mainText {
    color: #F7F7F7;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 16px;
}

.text {
    color: #F7F7F7;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 40px;
}

.button {
    width: 173px;
    height: 56px;
}